.footer {
    margin-left: auto;
    position: relative;
    justify-content: space-around;
    padding: 0 2.5vw;
    height: 100vh;
    width: 99%;
    color: white;
    background: rgb(10, 10, 10);
    scroll-snap-align: center;
}

.main-logo {
    height: 33%;
    margin-right: 10%;
}

.api-citation { 
    width: 25%;
}

.api-citation > h1 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.api-citation > span {
    width: 70%;
}

.contact {
    align-items: flex-start;
    flex-direction: column;
}

.contact > h1 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

@media (max-width: 50rem) {
    .footer { flex-wrap: wrap; }
    .api-citation, .contact { align-items: center; width: 90%; }
    .main-logo { margin-right: 0; }
}
