.header {
    padding: 2vh 2vw;
    position: sticky;
    inset: 0 auto auto 0;
    flex-wrap: wrap;
    min-height: 10vh;
    width: 100%;
    color: gray;
    background: rgb(20, 20, 20);
    box-shadow: 0 3px 3px rgb(7, 7, 7);
    z-index: 1;
}

.header > img {
    margin: 0 5% 0 2.5%;
    height: 10vh;
}

.header > div {
    padding: 2vh 2vw;
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(0.75rem, 1.125vw, 1.125rem);
    color: white;
    cursor: pointer;
}

.header > div:hover {
    opacity: 0.4;
}

@media (max-width: 25rem) {
    .header { padding: 1vh 2vw; }
    .header > div { padding: 1.5vh 2vw; }
}