.interface {
    margin-left: auto;
    position: relative;
    flex-direction: column;
    height: 100vh;
    width: 95%;
    color: white;
    background: rgb(15, 15, 15);
    border-radius: 0.5rem;
    box-shadow: 0 10px 10px black;
    scroll-snap-align: start;
}

.interface-header {
    align-self: flex-start;
    color: black;
    background: orange;
    width: 100%;
}

.interface-header > h1 {
    margin: 0;
    padding: 2vh 2vw 1vh 2vw;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.interface-li {
    margin-top: auto;
    padding: 2vh 2vw;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    font-weight: 500;
    color: brown;
}

.interface-li:not(.active):hover { cursor: pointer; opacity: 0.4; }

.interface-li.active {
    border-bottom: 3px solid;
}

@media (max-width: 25rem) {
    .interface { margin: 0 auto 3vh auto; width: 95%; }
}