.standings-section {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}   

.interface-detail {
    padding: 2.5vh 0;
    justify-content: space-around;
    background: rgb(25, 25, 25);
}

.interface-detail > div {
    align-items: flex-start;
    flex-direction: column;
}

.interface-detail span:nth-child(1) {
    color: gray;
}

.interface-detail span:nth-child(2) {
    font-size: clamp(0.875rem, 1.125vw, 1.125rem);
    font-weight: 500;
    color: rgb(182, 182, 182);
}

.interface-filters {
    background: rgb(35, 35, 35);
}

.conference {
    padding: 2.5vh 0;
    text-align: center;
    color: white;
    width: 50%;
    cursor: pointer;
}

.conference.active {
    color: orange;
    border-bottom: 2px solid;
}

.interface-table {
    grid-template-columns: 50% auto auto auto;
    padding: 2vh 2vw;
    min-height: 40vh;
}

.table-labels {
    padding-bottom: 2vh;
    grid-template-columns: 50% 15% 15% 15%;
    justify-content: flex-start;
    column-gap: 1vw;
    text-align: left;
    color: gray;
}

.table-empty {
    margin: 10vh 0;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.get-data-button {
    display: block;
    margin: 0 auto 5vh auto;
    padding: 2vh 2vw;
    font-size: clamp(1.125rem, 1.5vw, 1.5rem);
    color: orange;
    background: transparent;
    border-radius: 0.25rem;
    border: 2px solid;
    cursor: pointer;
}

.get-data-button:hover { 
    font-weight: 500; 
    color: black; 
    background: orange; 
    border: 2px solid darkorange;
    box-shadow: 0 0 10px darkorange; 
}
